
$font-stack:    Helvetica, sans-serif;
$background-color: #EEEEEE;
$bt-img-search: url('../images/search.png');
$logo-img: url('../images/logo.png');

body {
  background-color: $background-color;
  margin: auto;
}

header.search {
  background-color: #ffe600;
  padding: 7px 7px 7px 7px;
  height: 40px;
  display: flex;
  justify-content:center;
}


input[type='text'] {
  border: 1px solid #ccc;
  padding: 5px 10px 5px;
  border-radius: 3px 0px 0px 3px;
  height: 40px;
  width: 100%;
  margin: 0;

}

form {
  display: flex;
  margin: 0;
  width: 75%;
}


.nav-logo {
  width: 58px;
  height: 40px;
  background: $logo-img no-repeat;
  background-position: center;
  display: inline-table;
  margin: 0px 30px 0px 0px;
}

.nav-search-btn {
    display: inline-flex;
    position: relative;
    border: 1px solid #ccc;
    background-color: inherit;
    background: #ccc $bt-img-search no-repeat;
    background-size: content;
    background-position: center;
    border-radius: 0px 3px 3px 0px;
    margin: 0px;
    width: 48px;
    height: 40px;
    padding: 0px;
}

// .row-item {
//   width: 75%;
//   max-width: 800px;
//   height: 120px;
//   border: 1px solid #ccc;
// }
//
// .results-section {
//   width: 75%;
//   max-width: 800px;
//   height: 120px;
//   border: 1px solid;
//   border-color: inherit;
// }

.parent {
  display: flex;
  flex-direction: column;
  height: 480px; /* Or whatever */
  border: 5px solid;
}

.child {
  width: 700px;  /* Or whatever */
  height: 120px; /* Or whatever */
  margin: auto;  /* Magic! */
  border: 1px solid;
}
