{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
        "browser": true,
        "node": true
    },
  "rules": {
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
  }
}
